body {
  font-family: sans-serif;
}


#my_name {
  text-align: center;
}

#profile_pic {
  height: 200px;
  width: 190px;
  float: left;
  margin: 2px 20px 20px 12px;
  border-style: solid;
}

ul {
  display:inline-block;
  margin: 0px 0px 0px 0px
}

a:hover {
  color: blue;
}
